{
  "anchor": {
    "anchor-service-url": "{{ ceramic_cas_api_url }}",
    "auth-method": "did",
    "ethereum-rpc-url": "{{ ceramic_eth_rpc_url }}"
  },
  "http-api": {
    "cors-allowed-origins": [
      ".*"
    ],
    "admin-dids": [
      {% for did in admin_dids -%}
        "{{ did }}"{% if not loop.last %},
      {% endif -%}{% endfor -%}
    ]
  },
  "ipfs": {
    "mode": "remote",
    "host": "http://{{ ipfs_host }}",
    "disable-peer-data-sync": false
  },
  "logger": {
    "log-level": 2,
    "log-to-files": false
  },
  "metrics": {
    "prometheus-exporter-enabled": true,
    "prometheus-exporter-port": {{ metrics_port }}
  },
  "network": {
    "name": "{{ ceramic_network }}"
  },
  "node": {
    "privateSeedUrl": "inplace:ed25519#{{ ceramic_node_key }}"
  },
  "state-store": {
    "mode": "fs",
    "local-directory": "{{ data_store_mount_path }}/statestore/"
  },
  "indexing": {
    "db": "{{ ceramic_indexing_db_string }}",
    "allow-queries-before-historical-sync": true
  }
}
