GO_PROXY_PROXY_LISTENPORT=7007
GO_PROXY_PROXY_TARGETURL={{ ceramic_target_host_internal }}
GO_PROXY_PROXY_MIRRORURL={{ ceramic_mirror_host_internal | default("") }}

LOG_LEVEL={{ log_level | default("debug") }}
