{
  "anchor": {
    "auth-method": "did"
  },
  "http-api": {
    "cors-allowed-origins": [
      ".*"
    ],
    "admin-dids": [
      {% for did in admin_dids -%}
        "{{ did }}"{% if not loop.last %},
      {% endif -%}{% endfor -%}
    ]
  },
  "ipfs": {
    "mode": "remote",
    "host": "http://localhost:5001",
    "disable-peer-data-sync": false
  },
  "logger": {
    "log-level": 2,
    "log-to-files": false
  },
  "metrics": {
    "prometheus-exporter-enabled": true,
    "prometheus-exporter-port": 9464
  },
  "network": {
    "name": "{{ ceramic_network }}"
  },
  "node": {
    "privateSeedUrl": "inplace:ed25519#{{ ceramic_node_key }}"
  },
  "state-store": {
    "mode": "fs",
    "local-directory": "{{ ceramic_data_mount_path }}/ceramic_data/statestore/"
  },
  "indexing": {
    "db": "{{ js_ceramic_db_string }}",
    "allow-queries-before-historical-sync": true
    }
  }
