ansible==7.2.0
ansible-core==2.14.2
base58==2.1.1
cachetools==5.3.3
certifi==2024.7.4
cffi==1.15.1
charset-normalizer==3.3.2
cryptography==39.0.1
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-secret-manager==2.20.1
googleapis-common-protos==1.63.2
grpc-google-iam-v1==0.13.1
grpcio==1.65.0
grpcio-status==1.65.0
idna==3.7
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
proto-plus==1.24.0
protobuf==5.27.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
PyYAML==6.0
requests==2.32.3
resolvelib==0.8.1
rsa==4.9
urllib3==2.2.2
