CERAMIC_ONE_BIND_ADDRESS=0.0.0.0:{{ api_port }}
CERAMIC_ONE_KADEMLIA_PARALLELISM="1"
CERAMIC_ONE_KADEMLIA_REPLICATION="6"
CERAMIC_ONE_LOG_FORMAT=json
CERAMIC_ONE_METRICS_BIND_ADDRESS=0.0.0.0:{{ metrics_port }}
CERAMIC_ONE_NETWORK={{ ceramic_network }}
CERAMIC_ONE_STORE_DIR={{ data_store_mount_path }}
CERAMIC_ONE_P2P_KEY_DIR={{ data_store_mount_path }}
CERAMIC_ONE_SWARM_ADDRESSES=/ip4/0.0.0.0/tcp/{{ swarm_port }}
{#CERAMIC_ONE_EXTRA_CERAMIC_PEER_ADDRESSES={{ peers | join(',') }}#}
