CERAMIC_ONE_BIND_ADDRESS=0.0.0.0:5101
CERAMIC_ONE_KADEMLIA_PARALLELISM="1"
CERAMIC_ONE_KADEMLIA_REPLICATION="6"
CERAMIC_ONE_LOG_FORMAT=json
CERAMIC_ONE_METRICS_BIND_ADDRESS=0.0.0.0:9465
CERAMIC_ONE_NETWORK={{ ceramic_network }}
CERAMIC_ONE_STORE_DIR={{ rust_ceramic_store_path }}
CERAMIC_ONE_P2P_KEY_DIR={{ rust_ceramic_pk_dir }}
CERAMIC_ONE_SWARM_ADDRESSES=/ip4/0.0.0.0/tcp/4101
CERAMIC_ONE_EXTRA_CERAMIC_PEER_ADDRESSES={{ peers | join(',') }}
